.site-header {
    text-align: center;
}

.settings {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 20px 10px;
    background-color: white;
    box-shadow: 0 0 5px 1px #333;
}

.settings .control-label {
    width: 100px;
}

.settings .controls {
    margin-left: 110px;
}

.settings-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
    background-color: white;
    box-shadow: 0 0 5px 1px #333;
}

.settings-btn:hover {
    text-decoration: none;
}

.section_controls {
    padding-top: 20px;
    text-align: center;
}

.editable-menuitem a [data-command="remove-item"] {
    visibility: hidden;
    padding-left: 3px;
    color: black;
}

.editable-menuitem a:hover [data-command="remove-item"] {
    visibility: visible;
}


.content_block {
    position: relative;
}

    .content_block .block_controls {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }

    .content_block:hover .block_controls {
        display: block;
    }

.editable {
    outline: 1px dashed #a1a1a1;
}

.editable.editing {
    outline: 1px solid rgba(82, 168, 236, 0.792969);
    box-shadow: 0 0 4px rgba(82, 168, 236, 0.792969);
    background-color: white;
}

.html-editor {
    position: relative;
}

    .html-editor .toolbar {
        position: absolute;
        top: -36px;
        left: 0;
        background-color: #999999;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 2px;
        padding: 3px 0;
    }

.wysiwyg-text-align-left {
    text-align: left;
}

.wysiwyg-text-align-center {
    text-align: center;
}

.wysiwyg-text-align-right {
    text-align: right;
}

.wysihtml5-sandbox {
    margin: 0 !important;
    padding: 0 !important;
}

.row-fluid .row-fluid [class*="span"] {
    margin: 0 !important;
}
