<div class="span12 html-editor">
    <div id="editor-<%= id %>-toolbar" class="toolbar" style="display: none;">
        <div class="toolbar-inner">
            <div class="btn-group">
                <a class="btn" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1"><b>H1</b></a>
                <a class="btn" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2"><b>H2</b></a>
                <a class="btn" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3"><b>H3</b></a>
                <a class="btn" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p"><b>p</b></a>
                <a class="btn" data-wysihtml5-command="insertOrderedList"><i class="icon-list-ol"></i></a>
                <a class="btn" data-wysihtml5-command="insertUnorderedList"><i class="icon-list-ul"></i></a>
            </div>

            <div class="btn-group">
                <a class="btn" data-command="insertImage">insert image</a>
                <a class="btn" data-command="createLink"><i class="icon-link"></i></a>

            </div>

            <div class="btn-group">
                <a class="btn" data-wysihtml5-command="justifyLeft"><i class="icon-align-left"></i></a>
                <a class="btn" data-wysihtml5-command="justifyCenter"><i class="icon-align-center"></i></a>
                <a class="btn" data-wysihtml5-command="justifyRight"><i class="icon-align-right"></i></a>
                <a class="btn" data-wysihtml5-command="justify"><i class="icon-align-justify"></i></a>
            </div>

            <div class="btn-group">
                <a class="btn" data-wysihtml5-command="bold"><i class="icon-bold"></i></a>
                <a class="btn" data-wysihtml5-command="italic"><i class="icon-italic"></i></a>
                <a class="btn" data-wysihtml5-command="strikethrough"><i class="icon-strikethrough"></i></a>
                <a class="btn" data-wysihtml5-command="underline"><i class="icon-underline"></i></a>
            </div>

            <div class="btn-group">
                <a class="btn" data-command="save" href="#"><i class="icon-save"></i></a>
            </div>

        </div>
    </div>
    <textarea id="editor-<%= id %>" style="height: <%= height %>px; width: <%= width %>px;"></textarea>
</div>
