{% macro editable_field(tag, value, param_name, url, class='', type='simple') -%}
    <{{ tag }} class="{{ class }}"
    {%- if is_admin %} data-editable="{{ type }}" data-name="{{ param_name }}" data-url="{{ url }}" {% endif -%}>
        {{- value|safe|trim -}}
    </{{ tag }}>
{%- endmacro %}

{% macro page_block(page, block, is_admin) -%}
    {% set URL = url_for('api.blocks', page_id=page.id, block_id=block.id) %}

    <div class="row-fluid content_block" {% if is_admin %}data-block="{{ block.id }}"{% endif %}>
        {% if is_admin -%}
        <div class="block_controls btn-group">
            <a class="btn" data-block-command="edit"><i class="icon-pencil"></i></a>
            <a class="btn" data-block-command="remove"><i class="icon-remove"></i></a>
        </div>
        {%- endif %}
        <div class="span12 content" {% if is_admin %}data-editable="text"{% endif %}>
            {{- block.content|safe|trim -}}
        </div>
    </div>
{%- endmacro %}

{% macro section(page_obj, section_name) %}
    {% for block in page_obj.get_blocks_for_section(section_name) -%}
        {{ page_block(page_obj, block, is_admin) }}
    {% endfor %}
{% endmacro %}
