<div class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:300px">
    <div class="modal-header">
        <h4>Add menu item
            <a type="button" class="pull-right" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></a>
        </h4>
    </div>
    <div class="modal-body">
        <form class="modal-form">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-file"></i></span>
                <input id="title" type="text" placeholder="Title" name="title">
            </div>
            <div class="input-prepend">
                <span class="add-on"><i class="icon-link"></i></span>
                <input id="url" type="text" placeholder="URL" name="url">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" data-command="add-item">Add</button>
    </div>
</div>
