<div class="row-fluid section_controls">
    <div class="span12">
        <div class="btn-group">
            <a class="btn btn-large dropdown-toggle" data-toggle="dropdown"
               data-action="show-add-section-form">
                <i class="icon-plus"></i> Add new block
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a data-action="add-section" data-value="text">Text</a></li>
                <li><a data-action="add-section" data-value="photo">Photo album</a></li>
                <li><a data-action="add-section" data-value="map">Map</a></li>
            </ul>
        </div>
    </div>
</div>
