<div class="settings" style="display: none">
    <h4>
        <i class="icon-cog"></i>&nbsp;Settings
        <a href="#" class="close pull-right"><i class="icon-chevron-right icon-large"></i></a>
    </h4>
    <hr>
    <h5>Page</h5>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="settings_url">URL</label>
            <div class="controls">
                <input type="text" name="url" id="settings_url">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="settings_template">Template</label>
            <div class="controls">
                <select name="template" id="settings_template">
                    <option>Frontpage</option>
                    <option>Left sidebar</option>
                    <option>Right sidebar</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Published</label>
            <div class="controls">
                <div class="btn-group" data-toggle="buttons-radio">
                    <a class="btn btn-success btn-small">Yes</a>
                    <a class="btn btn-danger btn-small">No</a>
                </div>
            </div>
        </div>
    </form>
    <p class="clearfix">
        <a href="#" class="btn btn-small btn-primary pull-right">Save</a>
    </p>
    <hr>
    <h5>User</h5>
    <p><a class="logout" href="/users/logout/"><i class="icon-signout"></i>logout</a></p>
</div>
