<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}no title{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

    {% if is_admin %}
        <script type="text/javascript">window.PAGE_ID = '{{ page.id }}';</script>
        <script data-main="{{ url_for('static', filename='js/app.js') }}"
                src="{{ url_for('static', filename='js/require.js') }}"></script>
    {% endif %}
</head>
<body>
{% block content %}{% endblock %}

{% if is_admin %}
    <script type="text/html" id="html-editor-template">{% include "_html_editor.html" %}</script>
    <script type="text/html" id="settings-template">{% include "_settings.html" %}</script>
    <script type="text/html" id="section_controls_template">{% include "_section_controls.html" %}</script>
    <script type="text/html" id="add-menu-item-template">{% include "_menu_item_form.html" %}</script>
{% endif %}
</body>
</html>
