{% extends "base.html" %}
{% import "_macros.html" as macros with context %}

{% set PAGE_URL = url_for('api.pages', page_id=page.id) %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 site-header">
                {{ macros.editable_field('h1', page['title'], 'title', PAGE_URL) }}
                {{ render_menu('main', force=True)|safe }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 well" data-section="sidebar">
                {{ macros.editable_field('h4', page['sidebar_title'], 'sidebar_title', PAGE_URL) }}
                {{ render_menu('sidebar', force=True, horizontal=False)|safe }}
                {{ macros.section(page, 'sidebar') }}
            </div>

            <div class="span9" data-section="content">
                {{ macros.section(page, 'content') }}
            </div>
        </div>
    </div>
{% endblock %}
