<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span4 offset4 well">
                <form class="" action='' method="POST">
                    <fieldset>
                        <div id="legend">
                            <legend class="">Login</legend>
                        </div>
                        {% with messages = get_flashed_messages() %}
                            {% for message in messages %}
                                <div class="alert alert-error">{{ message }}</div>
                            {% endfor %}
                        {% endwith %}

                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="input-block-level">

                        <label class="control-label" for="password">Password</label>
                        <input type="password" id="password" name="password" class="input-block-level">
                    </fieldset>

                    <div class="form-actions">
                        <button class="btn btn-success pull-right">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
