<ul class="nav {% if horizontal %}nav-pills{% endif %} menu-container" data-alias="{{ menu['alias'] }}">
    {% for item in menu['items'] -%}
        <li {% if request.path == item['url'] %}class="active"{% endif %} data-id="{{ item['id'] }}"><a href="{{ item['url'] }}">{{ item['title'] }}</a></li>
    {% endfor %}
</ul>
