<div class="row-fluid content_block" data-id="{{ block.id }}">
    <div class="block_controls btn-group">
        <a class="btn" data-block-command="edit"><i class="icon-pencil"></i></a>
        <a class="btn" data-block-command="remove"><i class="icon-remove"></i></a>
    </div>
    <div class="span12 content" {% if is_admin %}data-editable="text"{% endif %}>{{ block.content|safe|trim }}</div>
</div>
